<!doctype html>
<html lang="en" ng-app='LunchChecker'>
  <head>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
    <title>Lunch Checker</title>
       <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group" name="form">
             <input  ng-model="Items" name= "Items"  id="lunch-menu" type="text"
             placeholder="list comma separate dishes you usually have for lunch"
             class="form-control" required>
          
             
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-model="CheckIfTooMuch" ng-required="Items" ng-click="CheckIfTooMuch(Items)">Check If Too Much</button>
                
         </div>
         <div class="form-group message" >
           <!-- Your message can go here. -->
            {{Message}}

           
         </div>
   </div>

</body>
</html>